@import "var";
.experience {
  margin: 0;
  padding: 30px 60px 20px 30px;
  font-family: montserrat;
  background-color: $primary-color-orange;
  color: $primary-color-black;
  width: 850px;

  &__name {
    margin: 36px 0 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $primary-color-black;
    border-bottom: 1px solid #000;
  }

  &__list {
    margin-bottom: 45.5px;
  }

  &__item {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    display: inline-block;
    padding: 0;
    margin-bottom: 2px;
  }

  &__subitem {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    font-style: italic;
    margin-top: 0;
    padding: 0;
  }
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $primary-color-black;
}
ul {
  padding-left: 15px;
}

.time {
  max-width: 10em;
  min-height: 2em;
  font-size: 15px;
  float: right;
  text-align: right;
  margin: 20px 15px 0 auto;
}

.printlogo {
  float: right;
  text-decoration: none;
  color: black;
}

.print {
  width: 30px;
}

.time-mobile {
  display: none;
}
