@media print {
  .printlogo {
    // add printlogo as class for logo image
    display: none;
  }

  .contacts .skills__item {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $primary-color-black;
  }

  .experience {
    border-left: #000 solid 1px;
  }

  .skills {
    padding-left: 50px;
  }
  // .skills__name,
  // .skills__item,
  // .user-name,
  // .user-profession,
  // a {
  //   text-decoration: none;
  //   color: #000;
  // }
  // .skills__item a {
  //   text-decoration: none;
  //   color: #000;
  // }

  // .status {
  //   color: #000;
  // }

  .container:before,
  .container:after {
    display: none;
  }
  .container:after {
    display: none;
  }

  // .skills {
  //   background-color: #c8c6c6;
  // }
  // .experience {
  //   background-color: #f7f6f2;
  // }
}
